.tags {
  border: 1px solid lighten($color-text, 50%);
  padding: 0 6px;
  border-radius: 25px;
  line-height: 1.6;
  color: $color-primary;
  margin: 3px;
}

.btn {
  z-index: 5;
  @include btn-primary;

  &__profil {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
      width: 180px;
      height: 60px;
      margin-left: -5vw;
      margin-top: 0.5rem;
    }

    @media screen and (min-width: map-get($breakpoints, desktop)) {
      margin-left: -15rem;
      margin-top: 0.5rem;
    }
  }

  &__mobile {
    padding: 0.5rem;
  }
}

.trier {
  span {
    display: flex;
    position: relative;
    width: 18rem;
  }

  a,
  ul {
    color: #fff;
  }

  .arrow-up::after {
    content: "▲";
    right: 20px;
    position: absolute;
    top: 12px;
  }

  .arrow-down::after {
    content: "▼";
    right: 20px;
    position: absolute;
  }
}

.toggle {
  &__button {
    z-index: 6;
    padding: 1rem;
    @include btn-primary;
  }

  &__button,
  &__list {
    position: absolute;
  }

  &__list {
    list-style: none;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-height: 0;
    z-index: 5;
    border-radius: 10px;

    > li {
      position: relative;
      background-color: $color-primary;
      width: 200px;
      font-size: 20px;
      padding: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 1;
    }
  }

  &__list.open {
    max-height: 320px;
    overflow: auto;
  }

  &__border {
    border-top: 1px solid #fff;
    padding: 0 10px;
  }
}
