@mixin img-profil {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@mixin btn-primary {
  border-radius: $border-radius;
  color: #fff;
  width: 200px;
  font-size: 20px;
  background-color: $color-primary;
}
